@import url("styles/navegacao.css");
@import url("styles/principal.css");
@import url("styles/consultas.css");
@import url("styles/botoes.css");
@import url("styles/rodape.css");
@import url("styles/botao-flutuante.css");

:root {
    --cor-de-fundo: linear-gradient(135deg, #F8F4FF 0%, #EFF0F4 100%);
    --cor-preto: #464646;
    --cor-cinza: #A3A3A3;
    --cor-amarelo: #FFB050;
    --cor-branco: #FFF;
    --cor-azul: #4894FF;
    --cor-cinza-baloes: #f6f6f6;

    --fonte-texto: 'Montserrat', sans-serif;

}

body {
    background: var(--cor-de-fundo);
    font-family: var(--fonte-texto);
    font-size: 0.875rem;
    font-weight: 400;
}

.principal {
    padding: 2rem 1rem;
}

.consultas {
    padding: 0rem 1rem 5rem 1rem;
}

@media(min-width: 1200px) {

    .conteudo {
        display: grid;
        grid-template-columns: auto 1fr;
    }

    
    .conteudo__sessao {
        order: 2;
    }
}