.consultas__botoes {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.consultas__botao {
    border-radius: .5rem;
    border: none;
    font-weight: 500;
    padding: 1rem;
    width: 50%;

    cursor: pointer;
}

.botao-video {
    color: var(--cor-branco);
    background-color: var(--cor-amarelo);
    box-shadow: 0px 4px 16px 0px rgba(255, 176, 80, 0.16);
}

.botao-audio {
    color: var(--cor-preto);
    background-color: var(--cor-branco);
    border: 1px solid #ececec;
}

.botao__endereco {
    color: var(--cor-branco);
    background-color: var(--cor-azul);
    border: 1px solid #ececec;
    font-weight: 500;
    width: 100%;
}